@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins','sans-serif';
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    width: 85%;
    height: 95%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side , .song_side {
    width: 25%;
    height: 90%;
    /* border: 1px solid whitesmoke; */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
}

header .song_side {
    width: 75%;
    background-color: #0b1320;
}

header .master_play {
    width: 100%;
    height: 10%;
    /* border: 1px solid white; */
    background-color: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}

header .menu_side  .playlist{
    margin: 40px 0px 0px 20px;
} 

header .menu_side  .playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
} 

header .menu_side  .playlist h4:hover{
    color: #fff;
}

header .menu_side  .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu_side  .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    top: -4px;
    transition: .3s linear;
    border-radius: 50%;
}

header .menu_side  .playlist h4:hover span::before{
    border: 2px solid #fff;
}


header .menu_side  .playlist h4 .bi{
    display: none;
}

header .menu_side  .playlist .active{
    color: rgb(93, 206, 102);
}


header .menu_side  .playlist .active span{ 
    display: none;
}

header .menu_side  .playlist .active .bi{ 
    display: flex;
    margin-right: 20px;
}

header .menu_side  .menu_song{ 
    width: 100%;
    height: 420px;
    /* border: 1px solid white; */
    margin-top: 40px;
    overflow: scroll;
}

header .menu_side  .menu_song::-webkit-scrollbar{ 
    display: none;
}

header .menu_side  .menu_song li{ 
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menu_side  .menu_song li:hover{ 
    background-color: rgb(105, 105, 105, 0.1);
}

header .menu_side  .menu_song li span{ 
    font-size: 12px;
    font-weight: lighter;
    color: #4c5262;
}

header .menu_side  .menu_song li img{ 
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

header .menu_side  .menu_song li h5{ 
    font-size: 11px;
    margin-left: 15px;
    margin-right: 30px;
    width: 170px;
    /* border: 1px solid white; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menu_side  .menu_song li h5 .subtitle{ 
    font-size: 9px;
    color: #4c5262;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menu_side  .menu_song li .bi{ 
    position: absolute;
    right: 10px;

}

header .master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    background: rgb(93, 206, 102);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}

header .master_play .wave .wave1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .master_play .wave .wave1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;
}

/* javascript classes */

header .master_play .active1 .wave1 {
    animation: wave .5s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2) {
    animation-delay: .4s;
}

header .master_play .active1 .wave1:nth-child(3) {
    animation-delay: .8s;
}

@keyframes wave {
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

header .master_play img {
    width: 35px;
    height: 35px;
}

header .master_play h5 {
    width: 130px;
    /* border: 1px solid white; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
}

header .master_play h5 .subtitle {
    font-size: 9px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .master_play .icons {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

header .master_play .icons .bi {
    cursor: pointer;
    outline: none ;
}

header .master_play .icons .shuffle {
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header .master_play .icons #download_music  {
    font-size: 20px;
    margin-left: 10px;

}

header .master_play .icons .bi:nth-child(3)  {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}

header .master_play span {
    color: #fff;
    width: 32px;
    /* border: 1px solid white; */
    font-size: 11px;
    font-weight: 400;
}

header .master_play #currentStart {
    margin: 0px 0px 0px 20px;
}

header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170 , .1);
    margin: 0px 15px 0px 10px;
}

header .master_play .bar .bar2{
    position: absolute;
    background: rgb(93, 206, 102);
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(93, 206, 102);
    border-radius: 50%;
    top: -1.5px;
    transition: 1s linear;
    left: 0%;
}

header .master_play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(93, 206, 102);
    border-radius: 50%;
    left: -6px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px rgb(93, 206, 102);
}

header .master_play .bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999;
    opacity: 0 ;
}

header .master_play .bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999;
    opacity: 0 ;
}

header .master_play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170 , .1);
    margin-left: 50px;
}

header .master_play .vol .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
}

header .master_play .vol input {
    position: absolute;
    color: #fff;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999999999;
    opacity: 0;
}

header .master_play .vol_bar {
    position: absolute;
    background: rgb(93, 206, 102);
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(93, 206, 102);
    border-radius: 50%;
    top: -1.5px;
    transition: 1s linear;
    left: 0%;
}

header .master_play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(93, 206, 102);
    border-radius: 50%;
    left: -6px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px rgb(93, 206, 102);
}

header .song_side {
    z-index: 2;
}

header .song_side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;
    /* background: url('IMG.PNG'); */
    z-index: -1;
}

header .song_side nav {
    width: 90%;
    height: 10%;
    /* border: 1px solid #fff; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side nav ul {
    display: flex;
}

header .song_side nav ul li {
    list-style: none;
    position: relative;
    font-size: 15px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side nav ul li:hover {
    color: #fff;
}

header .song_side nav ul li:nth-child(1) {
    color: #fff;
}

header .song_side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: rgb(93, 206, 102);
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

header .song_side nav .search  {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    /* border: 1px solid white; */
    color: gray;
}

header .song_side nav .search::before  {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

header .song_side nav .search input {
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}

header .song_side nav .user .bi {
    font-size: 25px;
    cursor: pointer;
}

header .song_side  .content {
    width: 90%;
    height: 30%;
    margin: auto;
    /* border: 1px solid whitesmoke; */
    padding-top: 20px;
}

header .song_side .content h1 {
    font-size: 30px;
    font-weight: 600;
}

header .song_side .content p {
    font-size: 15px;
    font-weight: 400;
    color: #4c5262;
    margin: 5px;
}

header .song_side .content .buttons {
    margin-top: 15px;
}

header .song_side .content .buttons button {
    width: 110px;
    height: 30px;
    border: 2px solid rgb(87, 209, 97);
    outline: none;
    border-radius: 20px;
    background: rgb(70, 202, 81);
    /* color: #fff; */
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .content .buttons button:hover {
    background: none;
    color: rgb(93, 206, 102);
}

header .song_side .content .buttons button:nth-child(2) {
    background: none;
    color: rgb(93, 206, 102);
}

header .song_side .content .buttons button:nth-child(2) {
    background: none;
    color: rgb(93, 206, 102);
}

header .song_side .content .buttons button:nth-child(2):hover {
    background: rgb(93, 206, 102);
    color: black;
}

header .song_side .popular_songs {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
}

header .song_side .popular_songs .h4{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_songs .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_songs .h4 .bi:hover{
    color: #fff;
}

header .song_side .popular_songs .pop_song{
    width: 100%;
    height: 180px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_songs .pop_song::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_songs .pop_song li{
    min-width: 120px;
    height: 160px;
    list-style-type: none;
    margin-top: 10px;
    transition: .3s linear;
    margin-right: 10px;
}

header .song_side .popular_songs .pop_song li:hover{
    background: rgba(38, 38, 53, 0.711);
}

header .song_side .popular_songs .pop_song li .img_play{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_side .popular_songs .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}

header .song_side .popular_songs .pop_song li .img_play .bi{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: .3s linear;
    color: rgb(93, 206, 102);
    opacity: 0;
}

header .song_side .popular_songs .pop_song li:hover .img_play .bi{
    opacity: 1;
}

header .song_side .popular_songs .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 17px;
    font-size: 13px;
    font-weight: 600;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header .song_side .popular_songs .pop_song li h5 .subtitle{
    font-size: 11px;
    font-weight: 300;
    color: #4c5262;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header .song_side .popular_artists {
    width: 90%;
    height: auto;
    /* border: 1px solid white; */
    margin: auto;
    margin-top: 15px;
}

header .song_side .popular_artists .h4{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_artists .h4 .bi:hover{
    color: #fff;
}

header .song_side .popular_artists .item{
    width: 100%;
    height: auto ;
    margin-top: 10px;
    display: flex;
    /* border: 1px solid white; */
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

header .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

header .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
